# Load the Data

In [ ]:
import pandas as pd

# Replace 'file_path.csv' with the actual path to your CSV file
file_path = 'C:/Users/Lazaros.Sofikitis/Desktop/MYMARKET/cleaned_merged_data2.csv'

# Define the chunk size
chunk_size = 10000  # You can adjust this based on your requirements

# Create an empty list to store the individual DataFrames
chunk_dfs = []

# Create an iterator to read the CSV file in chunks
chunk_iterator = pd.read_csv(file_path, chunksize=chunk_size)

# Process each chunk and store them in the list
for chunk in chunk_iterator:
    #  appending each chunk to the list
    chunk_dfs.append(chunk)

# Concatenate all the chunks into a single DataFrame
full_df = pd.concat(chunk_dfs, ignore_index=True)

# Display the first few rows of the combined DataFrame
print(full_df.head())

In [ ]:
# Combine columns using underscores
full_df['COMBINED'] = full_df['ITH_SECTION_CODE'].astype(str)+ '_' + full_df['ITH_DEPT_CODE'].astype(str) + '_' + full_df['ITH_CATEG_CODE'].astype(str)+ '_' + full_df['ITH_GROUP_CODE'].astype(str)

# View the updated DataFrame with the combined column
print(full_df)

In [ ]:
columns_to_drop = ['ITH_DEPT_CODE', 'ITH_CATEG_CODE','ITH_SECTION_CODE','ITH_GROUP_CODE', 'ITH_SUBGROUP_CODE','Combined']

# Dropping multiple columns
full_df.drop(columns=columns_to_drop, inplace=True)
full_df

In [ ]:
counts = full_df['TRANSACTION_ID'].value_counts()

# Filter out rows with unique TRANSACTION_IDs
full_df = full_df[full_df['TRANSACTION_ID'].isin(counts.index[counts > 1])]
full_df

In [ ]:

chunk_size = 100000  # Set the chunk size according to your system's memory capacity

# Open the CSV file in write mode with UTF-8 encoding
with open('clean_wrangle_data3.csv', 'w', encoding='utf-8') as f:
    for i in range(0, len(full_df), chunk_size):
        full_df.iloc[i:i+chunk_size].to_csv(f, index=False, header=not f.tell(), encoding='utf-8')

# Sample the Data

In [1]:
import pandas as pd

# Replace 'file_path.csv' with the actual path to your CSV file
file_path = 'C:/Users/Lazaros.Sofikitis/Desktop/MYMARKET/clean_wrangle_data3.csv'

# Define the chunk size
chunk_size = 10000  # You can adjust this based on your requirements

# Create an empty list to store the individual DataFrames
chunk_dfs = []

# Create an iterator to read the CSV file in chunks
chunk_iterator = pd.read_csv(file_path, chunksize=chunk_size)

# Process each chunk and store them in the list
for chunk in chunk_iterator:
    #  appending each chunk to the list
    chunk_dfs.append(chunk)

# Concatenate all the chunks into a single DataFrame
full_df = pd.concat(chunk_dfs, ignore_index=True)

# Display the first few rows of the combined DataFrame
print(full_df)

KeyboardInterrupt:

In [ ]:
# Replace '2e6' with the number of rows you want to sample
sample_size = 108000000

# Randomly sample 110 million rows from the DataFrame
sampled_df = full_df.sample(n=sample_size, random_state=42)  # Use any random_state for reproducibility

# Display information about the sampled DataFrame
sampled_df

In [ ]:
counts = sampled_df['TRANSACTION_ID'].value_counts()

# Filter out rows with unique TRANSACTION_IDs
sampled_df = sampled_df[sampled_df['TRANSACTION_ID'].isin(counts.index[counts > 1])]
sampled_df

In [ ]:



chunk_size = 100000  # Set the chunk size according to your system's memory capacity

# Open the CSV file in write mode with UTF-8 encoding
with open('sampled_cleaned_wrangled_data3.csv', 'w', encoding='utf-8') as f:
    for i in range(0, len(sampled_df), chunk_size):
        sampled_df.iloc[i:i+chunk_size].to_csv(f, index=False, header=not f.tell(), encoding='utf-8')


# Assuming 'sampled_df' is the DataFrame you want to write to a CSV file
# Replace 'file_name.csv' with the desired name for your CSV file
#file_name = 'sampled_cleaned_wrangled_data3.csv'

# Write the DataFrame to a CSV file
#sampled_df.to_csv(file_name, index=False)

# Market analysis PREP

In [2]:
import pandas as pd

# Replace 'file_path.csv' with the actual path to your CSV file
file_path = 'C:/Users/Lazaros.Sofikitis/Desktop/MyMarket2/sampled_cleaned_wrangled_data3.csv'

# Define the chunk size
chunk_size = 10000  # You can adjust this based on your requirements

# Create an empty list to store the individual DataFrames
chunk_dfs = []

# Create an iterator to read the CSV file in chunks
chunk_iterator = pd.read_csv(file_path, chunksize=chunk_size)

# Process each chunk and store them in the list
for chunk in chunk_iterator:
    #  appending each chunk to the list
    chunk_dfs.append(chunk)

# Concatenate all the chunks into a single DataFrame
sampled_df = pd.concat(chunk_dfs, ignore_index=True)

# Display the first few rows of the combined DataFrame
sampled_df

           TRANSACTION_ID  ITEM_SK  TYPE_SK  ITH_SK    COMBINED
0               353954392    11015        6    3447   11_1_12_2
1               366793053   114161        6   21368   49_15_5_1
2               354954901    16010        6    4510   15_1_16_1
3               365055773    22922        6   15013   31_1_1_11
4               359244309   111533        6   29051  81_31_1_12
...                   ...      ...      ...     ...         ...
107997629       371167841    40481        6   24080    56_1_2_1
107997630       355245131   113008        6      67     1_1_5_2
107997631       367545291    53226        5   27990    77_6_5_2
107997632       368861322    39142        6   22025   51_1_10_4
107997633       364991428    22892        6   15001    31_1_1_1

[107997634 rows x 5 columns]

# hotencode for mba

In [3]:
import pandas as pd

# Assuming sampled_df is your DataFrame
columns_to_drop = ['ITEM_SK', 'TYPE_SK', 'ITH_SK']  # Replace these with the actual column names you want to drop

# Dropping columns directly in the DataFrame
sampled_df.drop(columns=columns_to_drop, inplace=True)

# Iterating through rows and dropping rows where 'COMBINED' column is equal to "50_7_1_1"
#indexes_to_drop = []  # Store indexes to drop

#for index, row in sampled_df.iterrows():
#    if row['COMBINED'] == "50_7_1_1":
#        indexes_to_drop.append(index)

#sampled_df.drop(indexes_to_drop, inplace=True)

sampled_df

           TRANSACTION_ID    COMBINED
0               353954392   11_1_12_2
1               366793053   49_15_5_1
2               354954901   15_1_16_1
3               365055773   31_1_1_11
4               359244309  81_31_1_12
...                   ...         ...
107997629       371167841    56_1_2_1
107997630       355245131     1_1_5_2
107997631       367545291    77_6_5_2
107997632       368861322   51_1_10_4
107997633       364991428    31_1_1_1

[107997634 rows x 2 columns]

In [6]:
sampled_df = sampled_df[sampled_df['COMBINED'] != "70_5_1_1"]
sampled_df

           TRANSACTION_ID    COMBINED
0               353954392   11_1_12_2
1               366793053   49_15_5_1
2               354954901   15_1_16_1
3               365055773   31_1_1_11
4               359244309  81_31_1_12
...                   ...         ...
107997629       371167841    56_1_2_1
107997630       355245131     1_1_5_2
107997631       367545291    77_6_5_2
107997632       368861322   51_1_10_4
107997633       364991428    31_1_1_1

[102155837 rows x 2 columns]

In [9]:
# Count occurrences of each category in the 'COMBINED' column
category_counts = sampled_df['COMBINED'].value_counts()

# Find categories that appear only once
single_occurrence_categories = category_counts[category_counts == 1].index

# Filter the DataFrame to exclude rows with these categories
filtered_df = sampled_df[~sampled_df['COMBINED'].isin(single_occurrence_categories)]
filtered_df

           TRANSACTION_ID    COMBINED
0               353954392   11_1_12_2
1               366793053   49_15_5_1
2               354954901   15_1_16_1
3               365055773   31_1_1_11
4               359244309  81_31_1_12
...                   ...         ...
107997629       371167841    56_1_2_1
107997630       355245131     1_1_5_2
107997631       367545291    77_6_5_2
107997632       368861322   51_1_10_4
107997633       364991428    31_1_1_1

[102155717 rows x 2 columns]

In [13]:
unique_combined_values = filtered_df['COMBINED'].nunique()
print(f"Number of unique values in 'COMBINED' column: {unique_combined_values}")

Number of unique values in 'COMBINED' column: 1606

In [12]:
def modify_string(s):
    parts = s.split('_')
    modified_string = '_'.join(parts[:3])
    return modified_string

# Replace existing column values with modified strings
filtered_df['COMBINED'] = filtered_df['COMBINED'].apply(modify_string)

print(filtered_df)

C:\Users\Lazaros.Sofikitis\AppData\Local\Temp\ipykernel_10592\2372531538.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df['COMBINED'] = filtered_df['COMBINED'].apply(modify_string)

           TRANSACTION_ID COMBINED
0               353954392  11_1_12
1               366793053  49_15_5
2               354954901  15_1_16
3               365055773   31_1_1
4               359244309  81_31_1
...                   ...      ...
107997629       371167841   56_1_2
107997630       355245131    1_1_5
107997631       367545291   77_6_5
107997632       368861322  51_1_10
107997633       364991428   31_1_1

[102155717 rows x 2 columns]

In [7]:

# Assign an incrementing ID for each distinct value
unique_values = filtered_df['TRANSACTION_ID'].unique()
value_to_id = {val: idx + 1 for idx, val in enumerate(unique_values)}

filtered_df['ID'] = filtered_df['TRANSACTION_ID'].map(value_to_id)

print("Original DataFrame:")
print(filtered_df)

Original DataFrame:
           TRANSACTION_ID    COMBINED       ID
0               353954392   11_1_12_2        1
1               366793053   49_15_5_1        2
2               354954901   15_1_16_1        3
3               365055773   31_1_1_11        4
4               359244309  81_31_1_12        5
...                   ...         ...      ...
102155832       371167841    56_1_2_1  9070555
102155833       355245131     1_1_5_2  2165030
102155834       367545291    77_6_5_2  3462352
102155835       368861322   51_1_10_4  1391805
102155836       364991428    31_1_1_1  2065723

[102155837 rows x 3 columns]

In [8]:

chunk_size = 100000  # Set the chunk size according to your system's memory capacity

# Open the CSV file in write mode with UTF-8 encoding
with open('filtered_df_for_matrix.csv', 'w', encoding='utf-8') as f:
    for i in range(0, len(filtered_df), chunk_size):
        filtered_df.iloc[i:i+chunk_size].to_csv(f, index=False, header=not f.tell(), encoding='utf-8')

# sparse matrix creation(cost intensive operation)

In [1]:
import pandas as pd
# Replace 'file_path.csv' with the actual path to your CSV file
file_path = 'C:/Users/Lazaros.Sofikitis/Desktop/MyMarket2/filtered_df_for_matrix.csv'

# Define the chunk size
chunk_size = 10000  # You can adjust this based on your requirements

# Create an empty list to store the individual DataFrames
chunk_dfs = []

# Create an iterator to read the CSV file in chunks
chunk_iterator = pd.read_csv(file_path, chunksize=chunk_size)

# Process each chunk and store them in the list
for chunk in chunk_iterator:
    #  appending each chunk to the list
    chunk_dfs.append(chunk)

# Concatenate all the chunks into a single DataFrame
filtered_df = pd.concat(chunk_dfs, ignore_index=True)

# Display the first few rows of the combined DataFrame
filtered_df

           TRANSACTION_ID    COMBINED       ID
0               353954392   11_1_12_2        1
1               366793053   49_15_5_1        2
2               354954901   15_1_16_1        3
3               365055773   31_1_1_11        4
4               359244309  81_31_1_12        5
...                   ...         ...      ...
102155832       371167841    56_1_2_1  9070555
102155833       355245131     1_1_5_2  2165030
102155834       367545291    77_6_5_2  3462352
102155835       368861322   51_1_10_4  1391805
102155836       364991428    31_1_1_1  2065723

[102155837 rows x 3 columns]

In [ ]:
################################################CHUNK SIZE SPARSE MATRIX###############################################
################################################FOR TOO BIG FILES##################################################
from scipy.sparse import csr_matrix
import pandas as pd

# Read the file in chunks if it's too large to fit in memory at once
chunk_size = 100000  # Adjust the chunk size as needed
product_to_col = {}
data = []
row_indices = []
col_indices = []
transaction_counter = 0

# Loop through chunks of the file
for chunk in pd.read_csv('C:/Users/Lazaros.Sofikitis/Desktop/MyMarket2/filtered_df_for_matrix.csv', chunksize=chunk_size):
    for index, row in chunk.iterrows():
        transaction_id = row['ID']
        product_id = row['COMBINED']
        
        # Mapping product IDs to column indices
        if product_id not in product_to_col:
            product_to_col[product_id] = len(product_to_col)
        
        row_indices.append(transaction_counter)
        col_indices.append(product_to_col[product_id])
        data.append(1)
        
        transaction_counter += 1

# Create the sparse matrix directly
sparse_matrix = csr_matrix((data, (row_indices, col_indices)), shape=(transaction_counter, len(product_to_col)))

print(sparse_matrix)

In [2]:
####################################################SPARSE MATRIX CREATOR############################################
####################################################IF DF IS ALREADY LOADED#######################################
from scipy.sparse import csr_matrix

# Create an enumeration for products
product_ids = filtered_df['COMBINED'].unique()
product_ids.sort()  # Ensure consistent order

# Create a dictionary to map product IDs to column indices
product_to_col = {product_id: i for i, product_id in enumerate(product_ids)}

# Create lists to store row, column, and data indices for the sparse matrix
row_indices = []
col_indices = []
data = []

# Loop through each transaction and update the lists
for _, row in filtered_df.iterrows():
    transaction_id = row['ID']
    product_id = row['COMBINED']
    
    row_indices.append(transaction_id - 1)  # Subtract 1 to start from index 0
    col_indices.append(product_to_col[product_id])
    data.append(1)  # Use 1 to indicate presence of product

# Create the sparse matrix using the COO format
sparse_matrix = csr_matrix((data, (row_indices, col_indices)), shape=(max(row_indices) + 1, len(product_ids)))

#############30 minutes####################################

# Display the sparse matrix
print(sparse_matrix)

  (0, 78)	1
  (0, 652)	1
  (0, 702)	1
  (0, 1008)	1
  (0, 3261)	1
  (0, 3306)	1
  (1, 314)	1
  (1, 323)	1
  (1, 344)	1
  (1, 365)	1
  (1, 372)	1
  (1, 427)	1
  (1, 429)	1
  (1, 433)	1
  (1, 439)	1
  (1, 444)	2
  (1, 577)	1
  (1, 702)	1
  (1, 790)	1
  (1, 1138)	1
  (1, 1277)	1
  (1, 1305)	1
  (1, 1383)	1
  (1, 1512)	1
  (1, 1618)	1
  :	:
  (12071847, 2507)	1
  (12071848, 1301)	1
  (12071849, 4437)	1
  (12071850, 1155)	1
  (12071851, 2203)	1
  (12071852, 1691)	1
  (12071853, 387)	1
  (12071854, 2773)	1
  (12071855, 577)	1
  (12071856, 2867)	1
  (12071857, 2803)	1
  (12071858, 2793)	1
  (12071859, 2848)	1
  (12071860, 2431)	1
  (12071861, 130)	1
  (12071862, 1251)	1
  (12071863, 2627)	1
  (12071864, 3659)	1
  (12071865, 2229)	1
  (12071866, 625)	1
  (12071867, 2424)	1
  (12071868, 365)	1
  (12071869, 628)	1
  (12071870, 2424)	1
  (12071871, 4447)	1

In [3]:
from scipy.sparse import save_npz, load_npz

# Save a sparse matrix
save_npz('sparse_matrix.npz', sparse_matrix)

In [ ]:
from scipy.sparse import save_npz, load_npz
sparse_matrix = load_npz('sparse_matrix.npz')

In [ ]:
from scipy.sparse import coo_matrix

# Count values greater than 1
count_greater_than_one = (sparse_matrix.data > 1).sum()

print("Number of values greater than 1 in the sparse matrix:", count_greater_than_one)


# Get the number of non-zero elements in the sparse matrix
num_non_zero_elements = sparse_matrix.nnz

print("Number of non-zero elements in the sparse matrix:", num_non_zero_elements)

In [4]:
sparse_df = pd.DataFrame.sparse.from_spmatrix(sparse_matrix)
# Assuming you have a DataFrame 'df' representing the sparse matrix
sparse_df

,0,1,2,3,4,5,6,7,8,9,...,4457,4458,4459,4460,4461,4462,4463,4464,4465,4466
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12071867,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12071868,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12071869,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12071870,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12071871,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
# Count cells where the value is greater than 1
count_greater_than_one = (sparse_df > 1).sum().sum()
print("Number of cells where value = 1:", count_greater_than_one)

In [ ]:
df_filtered = df[(df != 0).any(axis=1)]

In [5]:

# Convert to boolean (True/False) indicating presence or absence of items
sparse_df_boolean = sparse_df > 0

In [6]:
print(sparse_df_boolean)

           0      1      2      3      4      5      6      7      8     \
0         False  False  False  False  False  False  False  False  False
1         False  False  False  False  False  False  False  False  False
2         False  False  False  False  False  False  False  False  False
3         False  False  False  False  False  False  False  False  False
4         False  False  False  False  False  False  False  False  False
...         ...    ...    ...    ...    ...    ...    ...    ...    ...
12071867  False  False  False  False  False  False  False  False  False
12071868  False  False  False  False  False  False  False  False  False
12071869  False  False  False  False  False  False  False  False  False
12071870  False  False  False  False  False  False  False  False  False
12071871  False  False  False  False  False  False  False  False  False

           9     ...   4457   4458   4459   4460   4461   4462   4463   4464  \
0         False  ...  False  False  False  False  False  False  False  False
1         False  ...  False  False  False  False  False  False  False  False
2         False  ...  False  False  False  False  False  False  False  False
3         False  ...  False  False  False  False  False  False  False  False
4         False  ...  False  False  False  False  False  False  False  False
...         ...  ...    ...    ...    ...    ...    ...    ...    ...    ...
12071867  False  ...  False  False  False  False  False  False  False  False
12071868  False  ...  False  False  False  False  False  False  False  False
12071869  False  ...  False  False  False  False  False  False  False  False
12071870  False  ...  False  False  False  False  False  False  False  False
12071871  False  ...  False  False  False  False  False  False  False  False

           4465   4466
0         False  False
1         False  False
2         False  False
3         False  False
4         False  False
...         ...    ...
12071867  False  False
12071868  False  False
12071869  False  False
12071870  False  False
12071871  False  False

[12071872 rows x 4467 columns]

In [7]:
chunk_size = 100000  # Set the chunk size according to your system's memory capacity

# Open the CSV file in write mode with UTF-8 encoding
with open('sparse_df_boolean.csv', 'w', encoding='utf-8') as f:
    for i in range(0, len(sparse_df_boolean), chunk_size):
        sparse_df_boolean.iloc[i:i+chunk_size].to_csv(f, index=False, header=not f.tell(), encoding='utf-8')

KeyboardInterrupt

In [ ]:
file_path = 'C:/Users/Lazaros.Sofikitis/Desktop/MyMarket2/sparse_df_boolean.csv'

# Define the chunk size
chunk_size = 10000  # You can adjust this based on your requirements

# Create an empty list to store the individual DataFrames
chunk_dfs = []

# Create an iterator to read the CSV file in chunks
chunk_iterator = pd.read_csv(file_path, chunksize=chunk_size)

# Process each chunk and store them in the list
for chunk in chunk_iterator:
    #  appending each chunk to the list
    chunk_dfs.append(chunk)

# Concatenate all the chunks into a single DataFrame
sparse_df_boolean = pd.concat(chunk_dfs, ignore_index=True)

# Display the first few rows of the combined DataFrame
sparse_df_boolean

In [8]:
from mlxtend.frequent_patterns import fpgrowth, association_rules
import pandas as pd

# Assuming 'sparse_df' is the DataFrame obtained from the sparse matrix
# Perform association rule mining on the DataFrame
# = apriori(sparse_df, min_support=0.0009, use_colnames=True)
#rules = association_rules(frequent_itemsets, metric="lift", min_threshold=0.1)

frequent_itemsets = fpgrowth(sparse_df_boolean, min_support=0.01, use_colnames=True)
rules = association_rules(frequent_itemsets, metric="confidence", min_threshold=0.01)

# Explore and interpret the generated association rules
print(rules)
print(frequent_itemsets)

   antecedents consequents  antecedent support  consequent support   support  \
0        (720)      (3258)            0.078597            0.017753  0.011172
1       (3258)       (720)            0.017753            0.078597  0.011172
2        (365)       (319)            0.086645            0.082352  0.016870
3        (319)       (365)            0.082352            0.086645  0.016870
4        (720)       (365)            0.078597            0.086645  0.010260
5        (365)       (720)            0.086645            0.078597  0.010260
6        (365)       (294)            0.086645            0.050817  0.018033
7        (294)       (365)            0.050817            0.086645  0.018033
8        (387)       (294)            0.059008            0.050817  0.011487
9        (294)       (387)            0.050817            0.059008  0.011487
10      (1000)      (1003)            0.050499            0.040979  0.011990
11      (1003)      (1000)            0.040979            0.050499  0.011990
12       (292)       (365)            0.037166            0.086645  0.011119
13       (365)       (292)            0.086645            0.037166  0.011119
14       (292)       (294)            0.037166            0.050817  0.010727
15       (294)       (292)            0.050817            0.037166  0.010727
16       (720)      (3276)            0.078597            0.040796  0.020422
17      (3276)       (720)            0.040796            0.078597  0.020422
18       (720)      (2603)            0.078597            0.054308  0.016208
19      (2603)       (720)            0.054308            0.078597  0.016208
20       (387)       (365)            0.059008            0.086645  0.030362
21       (365)       (387)            0.086645            0.059008  0.030362
22       (387)       (319)            0.059008            0.082352  0.012288
23       (319)       (387)            0.082352            0.059008  0.012288

    confidence      lift  leverage  conviction  zhangs_metric
0     0.142144  8.006698  0.009777    1.145002       0.949752
1     0.629299  8.006698  0.009777    2.485572       0.890921
2     0.194700  2.364239  0.009734    1.139510       0.631771
3     0.204850  2.364239  0.009734    1.148657       0.628815
4     0.130540  1.506600  0.003450    1.050485       0.364937
5     0.118414  1.506600  0.003450    1.045165       0.368153
6     0.208127  4.095599  0.013630    1.198655       0.827538
7     0.354864  4.095599  0.013630    1.415755       0.796301
8     0.194669  3.830770  0.008488    1.178624       0.785294
9     0.226045  3.830770  0.008488    1.215823       0.778518
10    0.237436  5.794148  0.009921    1.257627       0.871417
11    0.292597  5.794148  0.009921    1.342235       0.862767
12    0.299172  3.452845  0.007899    1.303251       0.737805
13    0.128327  3.452845  0.007899    1.104582       0.777774
14    0.288619  5.679550  0.008838    1.334281       0.855734
15    0.211084  5.679550  0.008838    1.220452       0.868041
16    0.259831  6.369026  0.017215    1.295926       0.914898
17    0.500584  6.369026  0.017215    1.844961       0.878843
18    0.206212  3.797116  0.011939    1.191367       0.799478
19    0.298440  3.797116  0.011939    1.313364       0.778945
20    0.514544  5.938527  0.025249    1.881439       0.883756
21    0.350419  5.938527  0.025249    1.448613       0.910498
22    0.208242  2.528687  0.007429    1.159001       0.642447
23    0.149212  2.528687  0.007429    1.106024       0.658791
      support     itemsets
0    0.086645        (365)
1    0.072977       (2717)
2    0.055892        (444)
3    0.046473        (577)
4    0.036788       (3814)
..        ...          ...
203  0.010727   (292, 294)
204  0.020422  (720, 3276)
205  0.016208  (720, 2603)
206  0.030362   (387, 365)
207  0.012288   (387, 319)

[208 rows x 2 columns]

In [9]:


# Define the column names for the DataFrame
columns = ['support', 'itemsets']

# Convert association_rules to a DataFrame
frequent_itemsets_df = pd.DataFrame(frequent_itemsets, columns=columns)

# Specify the file path to save the CSV file
file_path = 'C:/Users/Lazaros.Sofikitis/Desktop/MyMarket2/frequent_itemsets.csv'

# Save the DataFrame as a CSV file
frequent_itemsets_df.to_csv(file_path, index=False)

In [10]:
# Define the column names for the DataFrame
columns1 = ['Antecedents', 'Consequents', 'Antecedents Support', 'Consequents Support',
           'Support', 'Confidence', 'Lift', 'Leverage', 'Conviction', "Zhang's Metric"]

# Convert association_rules to a DataFrame
rules_df = pd.DataFrame(rules)
print(rules_df)

   antecedents consequents  antecedent support  consequent support   support  \
0        (720)      (3258)            0.078597            0.017753  0.011172
1       (3258)       (720)            0.017753            0.078597  0.011172
2        (365)       (319)            0.086645            0.082352  0.016870
3        (319)       (365)            0.082352            0.086645  0.016870
4        (720)       (365)            0.078597            0.086645  0.010260
5        (365)       (720)            0.086645            0.078597  0.010260
6        (365)       (294)            0.086645            0.050817  0.018033
7        (294)       (365)            0.050817            0.086645  0.018033
8        (387)       (294)            0.059008            0.050817  0.011487
9        (294)       (387)            0.050817            0.059008  0.011487
10      (1000)      (1003)            0.050499            0.040979  0.011990
11      (1003)      (1000)            0.040979            0.050499  0.011990
12       (292)       (365)            0.037166            0.086645  0.011119
13       (365)       (292)            0.086645            0.037166  0.011119
14       (292)       (294)            0.037166            0.050817  0.010727
15       (294)       (292)            0.050817            0.037166  0.010727
16       (720)      (3276)            0.078597            0.040796  0.020422
17      (3276)       (720)            0.040796            0.078597  0.020422
18       (720)      (2603)            0.078597            0.054308  0.016208
19      (2603)       (720)            0.054308            0.078597  0.016208
20       (387)       (365)            0.059008            0.086645  0.030362
21       (365)       (387)            0.086645            0.059008  0.030362
22       (387)       (319)            0.059008            0.082352  0.012288
23       (319)       (387)            0.082352            0.059008  0.012288

    confidence      lift  leverage  conviction  zhangs_metric
0     0.142144  8.006698  0.009777    1.145002       0.949752
1     0.629299  8.006698  0.009777    2.485572       0.890921
2     0.194700  2.364239  0.009734    1.139510       0.631771
3     0.204850  2.364239  0.009734    1.148657       0.628815
4     0.130540  1.506600  0.003450    1.050485       0.364937
5     0.118414  1.506600  0.003450    1.045165       0.368153
6     0.208127  4.095599  0.013630    1.198655       0.827538
7     0.354864  4.095599  0.013630    1.415755       0.796301
8     0.194669  3.830770  0.008488    1.178624       0.785294
9     0.226045  3.830770  0.008488    1.215823       0.778518
10    0.237436  5.794148  0.009921    1.257627       0.871417
11    0.292597  5.794148  0.009921    1.342235       0.862767
12    0.299172  3.452845  0.007899    1.303251       0.737805
13    0.128327  3.452845  0.007899    1.104582       0.777774
14    0.288619  5.679550  0.008838    1.334281       0.855734
15    0.211084  5.679550  0.008838    1.220452       0.868041
16    0.259831  6.369026  0.017215    1.295926       0.914898
17    0.500584  6.369026  0.017215    1.844961       0.878843
18    0.206212  3.797116  0.011939    1.191367       0.799478
19    0.298440  3.797116  0.011939    1.313364       0.778945
20    0.514544  5.938527  0.025249    1.881439       0.883756
21    0.350419  5.938527  0.025249    1.448613       0.910498
22    0.208242  2.528687  0.007429    1.159001       0.642447
23    0.149212  2.528687  0.007429    1.106024       0.658791

In [ ]:
# Defrost 'frozenset' to regular sets and access their elements
rules_df['consequents'] = rules_df['consequents'].apply(lambda x: set(x))

# Accessing defrosted elements
for index, row in rules_df.iterrows():
    print(f"Row {index + 1}: {row['consequents']}")
    # Access elements of the set
    for element in row['consequents']:
        print(f"Element: {element}")

print(rules_df)

In [ ]:
filtered_df

In [ ]:
import pandas as pd

# Assuming you have 'rules_df' and 'filtered_df' DataFrames

# Example merge based on columns 'antecedents' and 'ID'
merged_df = pd.merge(rules_df, filtered_df[['ID', 'COMBINED']], left_on='antecedents', right_on='ID', how='left')

print(merged_df)

In [12]:
def retrieve_combined(row):
    return [product_ids[col_index] for col_index in row['antecedents']]

rules_df['retrieved_antecedents_combined'] = rules_df.apply(retrieve_combined, axis=1)

print(rules_df[['antecedents', 'retrieved_antecedents_combined']])

   antecedents retrieved_antecedents_combined
0        (720)                      [1_1_4_3]
1       (3258)                      [6_1_1_1]
2        (365)                    [15_3_13_1]
3        (319)                    [15_1_24_1]
4        (720)                      [1_1_4_3]
5        (365)                    [15_3_13_1]
6        (365)                    [15_3_13_1]
7        (294)                    [15_12_2_1]
8        (387)                    [15_3_18_1]
9        (294)                    [15_12_2_1]
10      (1000)                    [23_30_1_2]
11      (1003)                    [23_30_2_2]
12       (292)                    [15_12_1_1]
13       (365)                    [15_3_13_1]
14       (292)                    [15_12_1_1]
15       (294)                    [15_12_2_1]
16       (720)                      [1_1_4_3]
17      (3276)                      [6_1_3_2]
18       (720)                      [1_1_4_3]
19      (2603)                    [49_1_1_11]
20       (387)                    [15_3_18_1]
21       (365)                    [15_3_13_1]
22       (387)                    [15_3_18_1]
23       (319)                    [15_1_24_1]

In [13]:
rules_df

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric,retrieved_consequents_combined,retrieved_antecedents_combined
0,(720),(3258),0.078597,0.017753,0.011172,0.142144,8.006698,0.009777,1.145002,0.949752,[6_1_1_1],[1_1_4_3]
1,(3258),(720),0.017753,0.078597,0.011172,0.629299,8.006698,0.009777,2.485572,0.890921,[1_1_4_3],[6_1_1_1]
2,(365),(319),0.086645,0.082352,0.016870,0.194700,2.364239,0.009734,1.139510,0.631771,[15_1_24_1],[15_3_13_1]
3,(319),(365),0.082352,0.086645,0.016870,0.204850,2.364239,0.009734,1.148657,0.628815,[15_3_13_1],[15_1_24_1]
4,(720),(365),0.078597,0.086645,0.010260,0.130540,1.506600,0.003450,1.050485,0.364937,[15_3_13_1],[1_1_4_3]
5,(365),(720),0.086645,0.078597,0.010260,0.118414,1.506600,0.003450,1.045165,0.368153,[1_1_4_3],[15_3_13_1]
6,(365),(294),0.086645,0.050817,0.018033,0.208127,4.095599,0.013630,1.198655,0.827538,[15_12_2_1],[15_3_13_1]
7,(294),(365),0.050817,0.086645,0.018033,0.354864,4.095599,0.013630,1.415755,0.796301,[15_3_13_1],[15_12_2_1]
8,(387),(294),0.059008,0.050817,0.011487,0.194669,3.830770,0.008488,1.178624,0.785294,[15_12_2_1],[15_3_18_1]
9,(294),(387),0.050817,0.059008,0.011487,0.226045,3.830770,0.008488,1.215823,0.778518,[15_3_18_1],[15_12_2_1]
10,(1000),(1003),0.050499,0.040979,0.011990,0.237436,5.794148,0.009921,1.257627,0.871417,[23_30_2_2],[23_30_1_2]
11,(1003),(1000),0.040979,0.050499,0.011990,0.292597,5.794148,0.009921,1.342235,0.862767,[23_30_1_2],[23_30_2_2]
12,(292),(365),0.037166,0.086645,0.011119,0.299172,3.452845,0.007899,1.303251,0.737805,[15_3_13_1],[15_12_1_1]
13,(365),(292),0.086645,0.037166,0.011119,0.128327,3.452845,0.007899,1.104582,0.777774,[15_12_1_1],[15_3_13_1]
14,(292),(294),0.037166,0.050817,0.010727,0.288619,5.679550,0.008838,1.334281,0.855734,[15_12_2_1],[15_12_1_1]
15,(294),(292),0.050817,0.037166,0.010727,0.211084,5.679550,0.008838,1.220452,0.868041,[15_12_1_1],[15_12_2_1]
16,(720),(3276),0.078597,0.040796,0.020422,0.259831,6.369026,0.017215,1.295926,0.914898,[6_1_3_2],[1_1_4_3]
17,(3276),(720),0.040796,0.078597,0.020422,0.500584,6.369026,0.017215,1.844961,0.878843,[1_1_4_3],[6_1_3_2]
18,(720),(2603),0.078597,0.054308,0.016208,0.206212,3.797116,0.011939,1.191367,0.799478,[49_1_1_11],[1_1_4_3]
19,(2603),(720),0.054308,0.078597,0.016208,0.298440,3.797116,0.011939,1.313364,0.778945,[1_1_4_3],[49_1_1_11]
20,(387),(365),0.059008,0.086645,0.030362,0.514544,5.938527,0.025249,1.881439,0.883756,[15_3_13_1],[15_3_18_1]
21,(365),(387),0.086645,0.059008,0.030362,0.350419,5.938527,0.025249,1.448613,0.910498,[15_3_18_1],[15_3_13_1]
22,(387),(319),0.059008,0.082352,0.012288,0.208242,2.528687,0.007429,1.159001,0.642447,[15_1_24_1],[15_3_18_1]
23,(319),(387),0.082352,0.059008,0.012288,0.149212,2.528687,0.007429,1.106024,0.658791,[15_3_18_1],[15_1_24_1]

In [14]:
def retrieve_combined(row):
    return [product_ids[col_index] for col_index in row['itemsets']]

frequent_itemsets_df['retrieved_itemsets'] = frequent_itemsets_df.apply(retrieve_combined, axis=1)

print(frequent_itemsets_df[['itemsets', 'retrieved_itemsets']])

        itemsets      retrieved_itemsets
0          (365)             [15_3_13_1]
1         (2717)            [51_11_10_3]
2          (444)              [15_6_1_2]
3          (577)              [17_1_2_2]
4         (3814)            [81_31_14_1]
..           ...                     ...
203   (292, 294)  [15_12_1_1, 15_12_2_1]
204  (720, 3276)      [1_1_4_3, 6_1_3_2]
205  (720, 2603)    [1_1_4_3, 49_1_1_11]
206   (387, 365)  [15_3_18_1, 15_3_13_1]
207   (387, 319)  [15_3_18_1, 15_1_24_1]

[208 rows x 2 columns]

In [ ]:
# Specify the file path to save the CSV file
file_path = 'C:/Users/Lazaros.Sofikitis/Desktop/MYMARKET/rules.csv'

# Save the DataFrame as a CSV file
rules_df.to_csv(file_path, index=False)

In [ ]:
# Specify the file path to save the CSV file
file_path = 'C:/Users/Lazaros.Sofikitis/Desktop/MYMARKET/frequent_itemsets.csv'

# Save the DataFrame as a CSV file
frequent_itemsets_df.to_csv(file_path, index=False)

In [15]:


# Example: Load specific columns ('col1', 'col2', 'col3') from a CSV file into a DataFrame
file_path = 'C:/Users/Lazaros.Sofikitis/Desktop/MYMARKET/ITEMTREEHIER_DIM.csv'

# Specify the columns you want to load
columns_to_load = [ 'ITH_SECTION_CODE', 'ITH_SECTION_DESC', 'ITH_DEPT_CODE', 'ITH_DEPT_DESC',
                   'ITH_CATEG_CODE', 'ITH_CATEG_DESC', 'ITH_GROUP_CODE', 'ITH_GROUP_DESC']

# Load the specific columns into a DataFrame
df_item_tree = pd.read_csv(file_path, usecols=columns_to_load)

# Display the loaded DataFrame
print(df_item_tree)

       ITH_SECTION_CODE                 ITH_SECTION_DESC  ITH_DEPT_CODE  \
0                     8  ΞΗΡΟΙ ΚΑΡΠΟΙ-ΑΠΟΞΗΡΑΜΕΝΑ ΦΡΟΥΤΑ              2
1                     8  ΞΗΡΟΙ ΚΑΡΠΟΙ-ΑΠΟΞΗΡΑΜΕΝΑ ΦΡΟΥΤΑ              2
2                     8  ΞΗΡΟΙ ΚΑΡΠΟΙ-ΑΠΟΞΗΡΑΜΕΝΑ ΦΡΟΥΤΑ              2
3                     8  ΞΗΡΟΙ ΚΑΡΠΟΙ-ΑΠΟΞΗΡΑΜΕΝΑ ΦΡΟΥΤΑ              2
4                     8  ΞΗΡΟΙ ΚΑΡΠΟΙ-ΑΠΟΞΗΡΑΜΕΝΑ ΦΡΟΥΤΑ              2
...                 ...                              ...            ...
39079                31              ΚΑΦΕΔΕΣ - ΑΦΕΨΗΜΑΤΑ             21
39080                31              ΚΑΦΕΔΕΣ - ΑΦΕΨΗΜΑΤΑ             21
39081                49                   ΑΡΤΟΣΚΕΥΑΣΜΑΤΑ              1
39082                48                            ΓΛΥΚΑ             57
39083                48                            ΓΛΥΚΑ             51

                 ITH_DEPT_DESC  ITH_CATEG_CODE         ITH_CATEG_DESC  \
0           ΑΠΟΞΗΡΑΜΕΝΑ ΦΡΟΥΤΑ               1  ΣΥΣΚΕΥΑΣΜΕΝΑ 150-200G
1           ΑΠΟΞΗΡΑΜΕΝΑ ΦΡΟΥΤΑ               1  ΣΥΣΚΕΥΑΣΜΕΝΑ 150-200G
2           ΑΠΟΞΗΡΑΜΕΝΑ ΦΡΟΥΤΑ               1  ΣΥΣΚΕΥΑΣΜΕΝΑ 150-200G
3           ΑΠΟΞΗΡΑΜΕΝΑ ΦΡΟΥΤΑ               1  ΣΥΣΚΕΥΑΣΜΕΝΑ 150-200G
4           ΑΠΟΞΗΡΑΜΕΝΑ ΦΡΟΥΤΑ               1  ΣΥΣΚΕΥΑΣΜΕΝΑ 150-200G
...                        ...             ...                    ...
39079          ΚAΦΕΔΕΣ ΦΙΛΤΡΟΥ               4                DIMELLO
39080          ΚAΦΕΔΕΣ ΦΙΛΤΡΟΥ               4                DIMELLO
39081             ΨΩΜΙ ΣΥΣΚ/ΝΟ               1                   ΤΟΣΤ
39082                 ΕΠΟΧΙΑΚΑ               1               ΕΠΟΧΙΑΚΑ
39083  ΠΡΟΙΟΝΤΑ ΣΟΚΟΛΑΤΟΠΟΙΙΑΣ              11            ΣΟΚΟΛΑΤΑΚΙΑ

      ITH_GROUP_CODE       ITH_GROUP_DESC
0                 01   ΣΤΑΦΙΔΑ ΣΟΥΛΤΑΝΙΝΑ
1                 01   ΣΤΑΦΙΔΑ ΣΟΥΛΤΑΝΙΝΑ
2                 02        ΣΤΑΦΙΔΑ ΜΑΥΡΗ
3                 02        ΣΤΑΦΙΔΑ ΜΑΥΡΗ
4                 04       ΣΤΑΦΥΛΙ GOLDEN
...              ...                  ...
39079             05            ΦΟΥΝΤΟΥΚΙ
39080             06             ΚΑΡΑΜΕΛΑ
39081             41  ΦΟΡΜΑ ΕΠΑΓΓΕΛΜΑΤΙΚΗ
39082             01             ΕΠΟΧΙΑΚΑ
39083             11                KOYTI

[39084 rows x 8 columns]

In [16]:

# Remove duplicate rows
df_item_tree.drop_duplicates(inplace=True)

# Display the modified DataFrame
print(df_item_tree)

       ITH_SECTION_CODE                 ITH_SECTION_DESC  ITH_DEPT_CODE  \
0                     8  ΞΗΡΟΙ ΚΑΡΠΟΙ-ΑΠΟΞΗΡΑΜΕΝΑ ΦΡΟΥΤΑ              2
2                     8  ΞΗΡΟΙ ΚΑΡΠΟΙ-ΑΠΟΞΗΡΑΜΕΝΑ ΦΡΟΥΤΑ              2
4                     8  ΞΗΡΟΙ ΚΑΡΠΟΙ-ΑΠΟΞΗΡΑΜΕΝΑ ΦΡΟΥΤΑ              2
5                     8  ΞΗΡΟΙ ΚΑΡΠΟΙ-ΑΠΟΞΗΡΑΜΕΝΑ ΦΡΟΥΤΑ              2
6                     8  ΞΗΡΟΙ ΚΑΡΠΟΙ-ΑΠΟΞΗΡΑΜΕΝΑ ΦΡΟΥΤΑ              2
...                 ...                              ...            ...
39065                35                           ΠΡΩΙΝΟ              1
39071                22              ΣΥΝΟΔΕΥΤΙΚΑ ΦΑΓΗΤΩΝ             21
39078                22              ΣΥΝΟΔΕΥΤΙΚΑ ΦΑΓΗΤΩΝ             20
39079                31              ΚΑΦΕΔΕΣ - ΑΦΕΨΗΜΑΤΑ             21
39080                31              ΚΑΦΕΔΕΣ - ΑΦΕΨΗΜΑΤΑ             21

            ITH_DEPT_DESC  ITH_CATEG_CODE         ITH_CATEG_DESC  \
0      ΑΠΟΞΗΡΑΜΕΝΑ ΦΡΟΥΤΑ               1  ΣΥΣΚΕΥΑΣΜΕΝΑ 150-200G
2      ΑΠΟΞΗΡΑΜΕΝΑ ΦΡΟΥΤΑ               1  ΣΥΣΚΕΥΑΣΜΕΝΑ 150-200G
4      ΑΠΟΞΗΡΑΜΕΝΑ ΦΡΟΥΤΑ               1  ΣΥΣΚΕΥΑΣΜΕΝΑ 150-200G
5      ΑΠΟΞΗΡΑΜΕΝΑ ΦΡΟΥΤΑ               1  ΣΥΣΚΕΥΑΣΜΕΝΑ 150-200G
6      ΑΠΟΞΗΡΑΜΕΝΑ ΦΡΟΥΤΑ               1  ΣΥΣΚΕΥΑΣΜΕΝΑ 150-200G
...                   ...             ...                    ...
39065          ΔΗΜΗΤΡΙΑΚΑ               5           NUTRI VALLEY
39071   ΣΑΛΤΣΕΣ ΖΥΜΑΡIKΩΝ              11           ΓΥΑΛΙΝΟ ΒΑΖΟ
39078   ΣΑΛΤΣΕΣ ΓΙΑ ΚΡΕΑΣ              21               CATERING
39079     ΚAΦΕΔΕΣ ΦΙΛΤΡΟΥ               4                DIMELLO
39080     ΚAΦΕΔΕΣ ΦΙΛΤΡΟΥ               4                DIMELLO

      ITH_GROUP_CODE      ITH_GROUP_DESC
0                 01  ΣΤΑΦΙΔΑ ΣΟΥΛΤΑΝΙΝΑ
2                 02       ΣΤΑΦΙΔΑ ΜΑΥΡΗ
4                 04      ΣΤΑΦΥΛΙ GOLDEN
5                 05   ΔΑΜΑΣΚΗΝΑ ΑΠΥΡΗΝΑ
6                 07            ΒΕΡΥΚΟΚΑ
...              ...                 ...
39065             01             GRANOLA
39071             13               ZANAE
39078             07             CONDITO
39079             05           ΦΟΥΝΤΟΥΚΙ
39080             06            ΚΑΡΑΜΕΛΑ

[10195 rows x 8 columns]

In [17]:

# Convert the column to string and remove leading zeros for numbers less than 9
df_item_tree['ITH_GROUP_CODE'] = df_item_tree['ITH_GROUP_CODE'].astype(str).apply(lambda x: x.lstrip('0'))

df_item_tree['COMBINED'] = df_item_tree['ITH_SECTION_CODE'].astype(str)+ '_' + df_item_tree['ITH_DEPT_CODE'].astype(str) + '_' + df_item_tree['ITH_CATEG_CODE'].astype(str)+ '_' + df_item_tree['ITH_GROUP_CODE'].astype(str)
df_item_tree

,ITH_SECTION_CODE,ITH_SECTION_DESC,ITH_DEPT_CODE,ITH_DEPT_DESC,ITH_CATEG_CODE,ITH_CATEG_DESC,ITH_GROUP_CODE,ITH_GROUP_DESC,COMBINED
0,8,ΞΗΡΟΙ ΚΑΡΠΟΙ-ΑΠΟΞΗΡΑΜΕΝΑ ΦΡΟΥΤΑ,2,ΑΠΟΞΗΡΑΜΕΝΑ ΦΡΟΥΤΑ,1,ΣΥΣΚΕΥΑΣΜΕΝΑ 150-200G,1,ΣΤΑΦΙΔΑ ΣΟΥΛΤΑΝΙΝΑ,8_2_1_1
2,8,ΞΗΡΟΙ ΚΑΡΠΟΙ-ΑΠΟΞΗΡΑΜΕΝΑ ΦΡΟΥΤΑ,2,ΑΠΟΞΗΡΑΜΕΝΑ ΦΡΟΥΤΑ,1,ΣΥΣΚΕΥΑΣΜΕΝΑ 150-200G,2,ΣΤΑΦΙΔΑ ΜΑΥΡΗ,8_2_1_2
4,8,ΞΗΡΟΙ ΚΑΡΠΟΙ-ΑΠΟΞΗΡΑΜΕΝΑ ΦΡΟΥΤΑ,2,ΑΠΟΞΗΡΑΜΕΝΑ ΦΡΟΥΤΑ,1,ΣΥΣΚΕΥΑΣΜΕΝΑ 150-200G,4,ΣΤΑΦΥΛΙ GOLDEN,8_2_1_4
5,8,ΞΗΡΟΙ ΚΑΡΠΟΙ-ΑΠΟΞΗΡΑΜΕΝΑ ΦΡΟΥΤΑ,2,ΑΠΟΞΗΡΑΜΕΝΑ ΦΡΟΥΤΑ,1,ΣΥΣΚΕΥΑΣΜΕΝΑ 150-200G,5,ΔΑΜΑΣΚΗΝΑ ΑΠΥΡΗΝΑ,8_2_1_5
6,8,ΞΗΡΟΙ ΚΑΡΠΟΙ-ΑΠΟΞΗΡΑΜΕΝΑ ΦΡΟΥΤΑ,2,ΑΠΟΞΗΡΑΜΕΝΑ ΦΡΟΥΤΑ,1,ΣΥΣΚΕΥΑΣΜΕΝΑ 150-200G,7,ΒΕΡΥΚΟΚΑ,8_2_1_7
...,...,...,...,...,...,...,...,...,...
39065,35,ΠΡΩΙΝΟ,1,ΔΗΜΗΤΡΙΑΚΑ,5,NUTRI VALLEY,1,GRANOLA,35_1_5_1
39071,22,ΣΥΝΟΔΕΥΤΙΚΑ ΦΑΓΗΤΩΝ,21,ΣΑΛΤΣΕΣ ΖΥΜΑΡIKΩΝ,11,ΓΥΑΛΙΝΟ ΒΑΖΟ,13,ZANAE,22_21_11_13
39078,22,ΣΥΝΟΔΕΥΤΙΚΑ ΦΑΓΗΤΩΝ,20,ΣΑΛΤΣΕΣ ΓΙΑ ΚΡΕΑΣ,21,CATERING,7,CONDITO,22_20_21_7
39079,31,ΚΑΦΕΔΕΣ - ΑΦΕΨΗΜΑΤΑ,21,ΚAΦΕΔΕΣ ΦΙΛΤΡΟΥ,4,DIMELLO,5,ΦΟΥΝΤΟΥΚΙ,31_21_4_5
39080,31,ΚΑΦΕΔΕΣ - ΑΦΕΨΗΜΑΤΑ,21,ΚAΦΕΔΕΣ ΦΙΛΤΡΟΥ,4,DIMELLO,6,ΚΑΡΑΜΕΛΑ,31_21_4_6

In [19]:


# Function to map IDs to names
def map_ids_to_names(ids_set):
    names = []
    for product_id in ids_set:
        row = df_item_tree[df_item_tree['COMBINED'] == product_id]
        if not row.empty:
            name = ', '.join(row[['ITH_SECTION_DESC', 'ITH_DEPT_DESC', 'ITH_CATEG_DESC', 'ITH_GROUP_DESC']].values[0])
            names.append(name)
        else:
            names.append('ID not found')
    return ', '.join(names)

# Apply the function to create a new column with names from IDs
rules_df['product_names_consequents'] = rules_df['retrieved_consequents_combined'].apply(map_ids_to_names)

print(rules_df)

   antecedents consequents  antecedent support  consequent support   support  \
0        (720)      (3258)            0.078597            0.017753  0.011172
1       (3258)       (720)            0.017753            0.078597  0.011172
2        (365)       (319)            0.086645            0.082352  0.016870
3        (319)       (365)            0.082352            0.086645  0.016870
4        (720)       (365)            0.078597            0.086645  0.010260
5        (365)       (720)            0.086645            0.078597  0.010260
6        (365)       (294)            0.086645            0.050817  0.018033
7        (294)       (365)            0.050817            0.086645  0.018033
8        (387)       (294)            0.059008            0.050817  0.011487
9        (294)       (387)            0.050817            0.059008  0.011487
10      (1000)      (1003)            0.050499            0.040979  0.011990
11      (1003)      (1000)            0.040979            0.050499  0.011990
12       (292)       (365)            0.037166            0.086645  0.011119
13       (365)       (292)            0.086645            0.037166  0.011119
14       (292)       (294)            0.037166            0.050817  0.010727
15       (294)       (292)            0.050817            0.037166  0.010727
16       (720)      (3276)            0.078597            0.040796  0.020422
17      (3276)       (720)            0.040796            0.078597  0.020422
18       (720)      (2603)            0.078597            0.054308  0.016208
19      (2603)       (720)            0.054308            0.078597  0.016208
20       (387)       (365)            0.059008            0.086645  0.030362
21       (365)       (387)            0.086645            0.059008  0.030362
22       (387)       (319)            0.059008            0.082352  0.012288
23       (319)       (387)            0.082352            0.059008  0.012288

    confidence      lift  leverage  conviction  zhangs_metric  \
0     0.142144  8.006698  0.009777    1.145002       0.949752
1     0.629299  8.006698  0.009777    2.485572       0.890921
2     0.194700  2.364239  0.009734    1.139510       0.631771
3     0.204850  2.364239  0.009734    1.148657       0.628815
4     0.130540  1.506600  0.003450    1.050485       0.364937
5     0.118414  1.506600  0.003450    1.045165       0.368153
6     0.208127  4.095599  0.013630    1.198655       0.827538
7     0.354864  4.095599  0.013630    1.415755       0.796301
8     0.194669  3.830770  0.008488    1.178624       0.785294
9     0.226045  3.830770  0.008488    1.215823       0.778518
10    0.237436  5.794148  0.009921    1.257627       0.871417
11    0.292597  5.794148  0.009921    1.342235       0.862767
12    0.299172  3.452845  0.007899    1.303251       0.737805
13    0.128327  3.452845  0.007899    1.104582       0.777774
14    0.288619  5.679550  0.008838    1.334281       0.855734
15    0.211084  5.679550  0.008838    1.220452       0.868041
16    0.259831  6.369026  0.017215    1.295926       0.914898
17    0.500584  6.369026  0.017215    1.844961       0.878843
18    0.206212  3.797116  0.011939    1.191367       0.799478
19    0.298440  3.797116  0.011939    1.313364       0.778945
20    0.514544  5.938527  0.025249    1.881439       0.883756
21    0.350419  5.938527  0.025249    1.448613       0.910498
22    0.208242  2.528687  0.007429    1.159001       0.642447
23    0.149212  2.528687  0.007429    1.106024       0.658791

   retrieved_consequents_combined retrieved_antecedents_combined  \
0                       [6_1_1_1]                      [1_1_4_3]
1                       [1_1_4_3]                      [6_1_1_1]
2                     [15_1_24_1]                    [15_3_13_1]
3                     [15_3_13_1]                    [15_1_24_1]
4                     [15_3_13_1]                      [1_1_4_3]
5                       [1_1_4_3]                    [15_3_13_1]
6                     [15_12_2_1]                    [15_3_13_1]
7                     [15_3_13_1]                    [15_12_2_1]
8                     [15_12_2_1]                    [15_3_18_1]
9                     [15_3_18_1]                    [15_12_2_1]
10                    [23_30_2_2]                    [23_30_1_2]
11                    [23_30_1_2]                    [23_30_2_2]
12                    [15_3_13_1]                    [15_12_1_1]
13                    [15_12_1_1]                    [15_3_13_1]
14                    [15_12_2_1]                    [15_12_1_1]
15                    [15_12_1_1]                    [15_12_2_1]
16                      [6_1_3_2]                      [1_1_4_3]
17                      [1_1_4_3]                      [6_1_3_2]
18                    [49_1_1_11]                      [1_1_4_3]
19                      [1_1_4_3]                    [49_1_1_11]
20                    [15_3_13_1]                    [15_3_18_1]
21                    [15_3_18_1]                    [15_3_13_1]
22                    [15_1_24_1]                    [15_3_18_1]
23                    [15_3_18_1]                    [15_1_24_1]

                            product_names_antecedents  \
0     ΤΥΡΟΚΟΜΙΚΑ, ΧΥΜΑ-ΠΑΓΚΟΥ, ΗΜΙΣΚΛΗΡΑ ΤΥΡΙΑ, GOUDA
1              ΑΛΛΑΝΤΙΚΑ, ΧΥΜΑ-ΠΑΓΚΟΥ, ΒΡΑΣΤΑ, ΠΑΡΙΖΑ
2           MANABIKH, ΛΑΧΑΝΙΚΑ, ΤΟΜΑΤΕΣ, ΤΟΜΑΤΕΣ ΕΓΧ.
3         MANABIKH, ΦΡΟΥΤΑ, ΜΠΑΝΑΝΕΣ, ΜΠΑΝΑΝΕΣ ΕΙΣΑΓ.
4     ΤΥΡΟΚΟΜΙΚΑ, ΧΥΜΑ-ΠΑΓΚΟΥ, ΗΜΙΣΚΛΗΡΑ ΤΥΡΙΑ, GOUDA
5           MANABIKH, ΛΑΧΑΝΙΚΑ, ΤΟΜΑΤΕΣ, ΤΟΜΑΤΕΣ ΕΓΧ.
6           MANABIKH, ΛΑΧΑΝΙΚΑ, ΤΟΜΑΤΕΣ, ΤΟΜΑΤΕΣ ΕΓΧ.
7   MANABIKH, ΠΑΤΑΤΕΣ-ΚΡΕΜΜΥΔΙΑ-ΣΚΟΡΔΑ, ΚΡΕΜΜΥΔΙΑ,...
8         MANABIKH, ΛΑΧΑΝΙΚΑ, ΑΓΓΟΥΡΙΑ, ΑΓΓΟΥΡΙΑ ΧΥΜΑ
9   MANABIKH, ΠΑΤΑΤΕΣ-ΚΡΕΜΜΥΔΙΑ-ΣΚΟΡΔΑ, ΚΡΕΜΜΥΔΙΑ,...
10  ΖΥΜΑΡΙΚΑ, ΖΥΜΑΡΙΚΑ ΠΑΡΑΓΩΜΕΝΑ-STANDARD, ΖΥΜΑΡΙ...
11  ΖΥΜΑΡΙΚΑ, ΖΥΜΑΡΙΚΑ ΠΑΡΑΓΩΜΕΝΑ-STANDARD, ΖΥΜΑΡΙ...
12  MANABIKH, ΠΑΤΑΤΕΣ-ΚΡΕΜΜΥΔΙΑ-ΣΚΟΡΔΑ, ΠΑΤΑΤΕΣ, Π...
13          MANABIKH, ΛΑΧΑΝΙΚΑ, ΤΟΜΑΤΕΣ, ΤΟΜΑΤΕΣ ΕΓΧ.
14  MANABIKH, ΠΑΤΑΤΕΣ-ΚΡΕΜΜΥΔΙΑ-ΣΚΟΡΔΑ, ΠΑΤΑΤΕΣ, Π...
15  MANABIKH, ΠΑΤΑΤΕΣ-ΚΡΕΜΜΥΔΙΑ-ΣΚΟΡΔΑ, ΚΡΕΜΜΥΔΙΑ,...
16    ΤΥΡΟΚΟΜΙΚΑ, ΧΥΜΑ-ΠΑΓΚΟΥ, ΗΜΙΣΚΛΗΡΑ ΤΥΡΙΑ, GOUDA
17        ΑΛΛΑΝΤΙΚΑ, ΧΥΜΑ-ΠΑΓΚΟΥ, ΚΑΠΝΙΣΤΑ, ΓΑΛΟΠΟΥΛΑ
18    ΤΥΡΟΚΟΜΙΚΑ, ΧΥΜΑ-ΠΑΓΚΟΥ, ΗΜΙΣΚΛΗΡΑ ΤΥΡΙΑ, GOUDA
19          ΑΡΤΟΣΚΕΥΑΣΜΑΤΑ, ΨΩΜΙ ΣΥΣΚ/ΝΟ, ΤΟΣΤ, ΦΟΡΜΑ
20        MANABIKH, ΛΑΧΑΝΙΚΑ, ΑΓΓΟΥΡΙΑ, ΑΓΓΟΥΡΙΑ ΧΥΜΑ
21          MANABIKH, ΛΑΧΑΝΙΚΑ, ΤΟΜΑΤΕΣ, ΤΟΜΑΤΕΣ ΕΓΧ.
22        MANABIKH, ΛΑΧΑΝΙΚΑ, ΑΓΓΟΥΡΙΑ, ΑΓΓΟΥΡΙΑ ΧΥΜΑ
23        MANABIKH, ΦΡΟΥΤΑ, ΜΠΑΝΑΝΕΣ, ΜΠΑΝΑΝΕΣ ΕΙΣΑΓ.

                            product_names_consequents
0              ΑΛΛΑΝΤΙΚΑ, ΧΥΜΑ-ΠΑΓΚΟΥ, ΒΡΑΣΤΑ, ΠΑΡΙΖΑ
1     ΤΥΡΟΚΟΜΙΚΑ, ΧΥΜΑ-ΠΑΓΚΟΥ, ΗΜΙΣΚΛΗΡΑ ΤΥΡΙΑ, GOUDA
2         MANABIKH, ΦΡΟΥΤΑ, ΜΠΑΝΑΝΕΣ, ΜΠΑΝΑΝΕΣ ΕΙΣΑΓ.
3           MANABIKH, ΛΑΧΑΝΙΚΑ, ΤΟΜΑΤΕΣ, ΤΟΜΑΤΕΣ ΕΓΧ.
4           MANABIKH, ΛΑΧΑΝΙΚΑ, ΤΟΜΑΤΕΣ, ΤΟΜΑΤΕΣ ΕΓΧ.
5     ΤΥΡΟΚΟΜΙΚΑ, ΧΥΜΑ-ΠΑΓΚΟΥ, ΗΜΙΣΚΛΗΡΑ ΤΥΡΙΑ, GOUDA
6   MANABIKH, ΠΑΤΑΤΕΣ-ΚΡΕΜΜΥΔΙΑ-ΣΚΟΡΔΑ, ΚΡΕΜΜΥΔΙΑ,...
7           MANABIKH, ΛΑΧΑΝΙΚΑ, ΤΟΜΑΤΕΣ, ΤΟΜΑΤΕΣ ΕΓΧ.
8   MANABIKH, ΠΑΤΑΤΕΣ-ΚΡΕΜΜΥΔΙΑ-ΣΚΟΡΔΑ, ΚΡΕΜΜΥΔΙΑ,...
9         MANABIKH, ΛΑΧΑΝΙΚΑ, ΑΓΓΟΥΡΙΑ, ΑΓΓΟΥΡΙΑ ΧΥΜΑ
10  ΖΥΜΑΡΙΚΑ, ΖΥΜΑΡΙΚΑ ΠΑΡΑΓΩΜΕΝΑ-STANDARD, ΖΥΜΑΡΙ...
11  ΖΥΜΑΡΙΚΑ, ΖΥΜΑΡΙΚΑ ΠΑΡΑΓΩΜΕΝΑ-STANDARD, ΖΥΜΑΡΙ...
12          MANABIKH, ΛΑΧΑΝΙΚΑ, ΤΟΜΑΤΕΣ, ΤΟΜΑΤΕΣ ΕΓΧ.
13  MANABIKH, ΠΑΤΑΤΕΣ-ΚΡΕΜΜΥΔΙΑ-ΣΚΟΡΔΑ, ΠΑΤΑΤΕΣ, Π...
14  MANABIKH, ΠΑΤΑΤΕΣ-ΚΡΕΜΜΥΔΙΑ-ΣΚΟΡΔΑ, ΚΡΕΜΜΥΔΙΑ,...
15  MANABIKH, ΠΑΤΑΤΕΣ-ΚΡΕΜΜΥΔΙΑ-ΣΚΟΡΔΑ, ΠΑΤΑΤΕΣ, Π...
16        ΑΛΛΑΝΤΙΚΑ, ΧΥΜΑ-ΠΑΓΚΟΥ, ΚΑΠΝΙΣΤΑ, ΓΑΛΟΠΟΥΛΑ
17    ΤΥΡΟΚΟΜΙΚΑ, ΧΥΜΑ-ΠΑΓΚΟΥ, ΗΜΙΣΚΛΗΡΑ ΤΥΡΙΑ, GOUDA
18          ΑΡΤΟΣΚΕΥΑΣΜΑΤΑ, ΨΩΜΙ ΣΥΣΚ/ΝΟ, ΤΟΣΤ, ΦΟΡΜΑ
19    ΤΥΡΟΚΟΜΙΚΑ, ΧΥΜΑ-ΠΑΓΚΟΥ, ΗΜΙΣΚΛΗΡΑ ΤΥΡΙΑ, GOUDA
20          MANABIKH, ΛΑΧΑΝΙΚΑ, ΤΟΜΑΤΕΣ, ΤΟΜΑΤΕΣ ΕΓΧ.
21        MANABIKH, ΛΑΧΑΝΙΚΑ, ΑΓΓΟΥΡΙΑ, ΑΓΓΟΥΡΙΑ ΧΥΜΑ
22        MANABIKH, ΦΡΟΥΤΑ, ΜΠΑΝΑΝΕΣ, ΜΠΑΝΑΝΕΣ ΕΙΣΑΓ.
23        MANABIKH, ΛΑΧΑΝΙΚΑ, ΑΓΓΟΥΡΙΑ, ΑΓΓΟΥΡΙΑ ΧΥΜΑ

In [20]:

rules_df.to_csv('finalrules.csv', index=False)

In [21]:
# Function to map IDs to names
def map_ids_to_names(ids_set):
    names = []
    for product_id in ids_set:
        row = df_item_tree[df_item_tree['COMBINED'] == product_id]
        if not row.empty:
            name = ', '.join(row[['ITH_SECTION_DESC', 'ITH_DEPT_DESC', 'ITH_CATEG_DESC', 'ITH_GROUP_DESC']].values[0])
            names.append(name)
        else:
            names.append('ID not found')
    return ', '.join(names)

# Apply the function to create a new column with names from IDs
frequent_itemsets_df['product_names_itemsets'] = frequent_itemsets_df['retrieved_itemsets'].apply(map_ids_to_names)

print(frequent_itemsets_df)

      support     itemsets      retrieved_itemsets  \
0    0.086645        (365)             [15_3_13_1]
1    0.072977       (2717)            [51_11_10_3]
2    0.055892        (444)              [15_6_1_2]
3    0.046473        (577)              [17_1_2_2]
4    0.036788       (3814)            [81_31_14_1]
..        ...          ...                     ...
203  0.010727   (292, 294)  [15_12_1_1, 15_12_2_1]
204  0.020422  (720, 3276)      [1_1_4_3, 6_1_3_2]
205  0.016208  (720, 2603)    [1_1_4_3, 49_1_1_11]
206  0.030362   (387, 365)  [15_3_18_1, 15_3_13_1]
207  0.012288   (387, 319)  [15_3_18_1, 15_1_24_1]

                                product_names_itemsets
0            MANABIKH, ΛΑΧΑΝΙΚΑ, ΤΟΜΑΤΕΣ, ΤΟΜΑΤΕΣ ΕΓΧ.
1         ΜΗ ΑΛΚΟΟΛΟΥΧΑ, ΝΕΡΑ, ΦΥΣΙΚΑ ΝΕΡΑ, 500ml ΝΕΡΑ
2    MANABIKH, ΕΤΟΙΜΕΣ ΣΑΛΑΤΕΣ, ΕΓΧΩΡΙΕΣ ΕΤΟΙΜΕΣ ΣΑ...
3    ΝΩΠΟ ΚΡΕΑΣ, ΛΟΥΚΑΝΙΚΑ, ΣΥΣΚΕΥΑΣΜΕΝΑ-ΤΥΠΟΠΟΙΗΜΕ...
4    EIΔΗ ΠΕΡΙΠΟΙΗΣΗΣ-ΚΑΘΑΡΙΟΤΗΤΑΣ, ΠΡΟΣΩΠΙΚΗ ΠΕΡΙΠ...
..                                                 ...
203  MANABIKH, ΠΑΤΑΤΕΣ-ΚΡΕΜΜΥΔΙΑ-ΣΚΟΡΔΑ, ΠΑΤΑΤΕΣ, Π...
204  ΤΥΡΟΚΟΜΙΚΑ, ΧΥΜΑ-ΠΑΓΚΟΥ, ΗΜΙΣΚΛΗΡΑ ΤΥΡΙΑ, GOUD...
205  ΤΥΡΟΚΟΜΙΚΑ, ΧΥΜΑ-ΠΑΓΚΟΥ, ΗΜΙΣΚΛΗΡΑ ΤΥΡΙΑ, GOUD...
206  MANABIKH, ΛΑΧΑΝΙΚΑ, ΑΓΓΟΥΡΙΑ, ΑΓΓΟΥΡΙΑ ΧΥΜΑ, M...
207  MANABIKH, ΛΑΧΑΝΙΚΑ, ΑΓΓΟΥΡΙΑ, ΑΓΓΟΥΡΙΑ ΧΥΜΑ, M...

[208 rows x 4 columns]

In [22]:

frequent_itemsets_df.to_csv('final_frequentitemsets.csv', index=False)

In [29]:

# Load specific columns from the CSV file
columns_to_load = ['product_names_antecedents', 'product_names_consequents']  # Add the column names you want to load

# Replace 'your_file.csv' with the path to your actual file
filtered_df = pd.read_csv('finalrules.csv', usecols=columns_to_load)

filtered_df

,product_names_antecedents,product_names_consequents
0,"ΤΥΡΟΚΟΜΙΚΑ, ΧΥΜΑ-ΠΑΓΚΟΥ, ΗΜΙΣΚΛΗΡΑ ΤΥΡΙΑ, GOUDA","ΑΛΛΑΝΤΙΚΑ, ΧΥΜΑ-ΠΑΓΚΟΥ, ΒΡΑΣΤΑ, ΠΑΡΙΖΑ"
1,"ΑΛΛΑΝΤΙΚΑ, ΧΥΜΑ-ΠΑΓΚΟΥ, ΒΡΑΣΤΑ, ΠΑΡΙΖΑ","ΤΥΡΟΚΟΜΙΚΑ, ΧΥΜΑ-ΠΑΓΚΟΥ, ΗΜΙΣΚΛΗΡΑ ΤΥΡΙΑ, GOUDA"
2,"MANABIKH, ΛΑΧΑΝΙΚΑ, ΤΟΜΑΤΕΣ, ΤΟΜΑΤΕΣ ΕΓΧ.","MANABIKH, ΦΡΟΥΤΑ, ΜΠΑΝΑΝΕΣ, ΜΠΑΝΑΝΕΣ ΕΙΣΑΓ."
3,"MANABIKH, ΦΡΟΥΤΑ, ΜΠΑΝΑΝΕΣ, ΜΠΑΝΑΝΕΣ ΕΙΣΑΓ.","MANABIKH, ΛΑΧΑΝΙΚΑ, ΤΟΜΑΤΕΣ, ΤΟΜΑΤΕΣ ΕΓΧ."
4,"ΤΥΡΟΚΟΜΙΚΑ, ΧΥΜΑ-ΠΑΓΚΟΥ, ΗΜΙΣΚΛΗΡΑ ΤΥΡΙΑ, GOUDA","MANABIKH, ΛΑΧΑΝΙΚΑ, ΤΟΜΑΤΕΣ, ΤΟΜΑΤΕΣ ΕΓΧ."
5,"MANABIKH, ΛΑΧΑΝΙΚΑ, ΤΟΜΑΤΕΣ, ΤΟΜΑΤΕΣ ΕΓΧ.","ΤΥΡΟΚΟΜΙΚΑ, ΧΥΜΑ-ΠΑΓΚΟΥ, ΗΜΙΣΚΛΗΡΑ ΤΥΡΙΑ, GOUDA"
6,"MANABIKH, ΛΑΧΑΝΙΚΑ, ΤΟΜΑΤΕΣ, ΤΟΜΑΤΕΣ ΕΓΧ.","MANABIKH, ΠΑΤΑΤΕΣ-ΚΡΕΜΜΥΔΙΑ-ΣΚΟΡΔΑ, ΚΡΕΜΜΥΔΙΑ,..."
7,"MANABIKH, ΠΑΤΑΤΕΣ-ΚΡΕΜΜΥΔΙΑ-ΣΚΟΡΔΑ, ΚΡΕΜΜΥΔΙΑ,...","MANABIKH, ΛΑΧΑΝΙΚΑ, ΤΟΜΑΤΕΣ, ΤΟΜΑΤΕΣ ΕΓΧ."
8,"MANABIKH, ΛΑΧΑΝΙΚΑ, ΑΓΓΟΥΡΙΑ, ΑΓΓΟΥΡΙΑ ΧΥΜΑ","MANABIKH, ΠΑΤΑΤΕΣ-ΚΡΕΜΜΥΔΙΑ-ΣΚΟΡΔΑ, ΚΡΕΜΜΥΔΙΑ,..."
9,"MANABIKH, ΠΑΤΑΤΕΣ-ΚΡΕΜΜΥΔΙΑ-ΣΚΟΡΔΑ, ΚΡΕΜΜΥΔΙΑ,...","MANABIKH, ΛΑΧΑΝΙΚΑ, ΑΓΓΟΥΡΙΑ, ΑΓΓΟΥΡΙΑ ΧΥΜΑ"
10,"ΖΥΜΑΡΙΚΑ, ΖΥΜΑΡΙΚΑ ΠΑΡΑΓΩΜΕΝΑ-STANDARD, ΖΥΜΑΡΙ...","ΖΥΜΑΡΙΚΑ, ΖΥΜΑΡΙΚΑ ΠΑΡΑΓΩΜΕΝΑ-STANDARD, ΖΥΜΑΡΙ..."
11,"ΖΥΜΑΡΙΚΑ, ΖΥΜΑΡΙΚΑ ΠΑΡΑΓΩΜΕΝΑ-STANDARD, ΖΥΜΑΡΙ...","ΖΥΜΑΡΙΚΑ, ΖΥΜΑΡΙΚΑ ΠΑΡΑΓΩΜΕΝΑ-STANDARD, ΖΥΜΑΡΙ..."
12,"MANABIKH, ΠΑΤΑΤΕΣ-ΚΡΕΜΜΥΔΙΑ-ΣΚΟΡΔΑ, ΠΑΤΑΤΕΣ, Π...","MANABIKH, ΛΑΧΑΝΙΚΑ, ΤΟΜΑΤΕΣ, ΤΟΜΑΤΕΣ ΕΓΧ."
13,"MANABIKH, ΛΑΧΑΝΙΚΑ, ΤΟΜΑΤΕΣ, ΤΟΜΑΤΕΣ ΕΓΧ.","MANABIKH, ΠΑΤΑΤΕΣ-ΚΡΕΜΜΥΔΙΑ-ΣΚΟΡΔΑ, ΠΑΤΑΤΕΣ, Π..."
14,"MANABIKH, ΠΑΤΑΤΕΣ-ΚΡΕΜΜΥΔΙΑ-ΣΚΟΡΔΑ, ΠΑΤΑΤΕΣ, Π...","MANABIKH, ΠΑΤΑΤΕΣ-ΚΡΕΜΜΥΔΙΑ-ΣΚΟΡΔΑ, ΚΡΕΜΜΥΔΙΑ,..."
15,"MANABIKH, ΠΑΤΑΤΕΣ-ΚΡΕΜΜΥΔΙΑ-ΣΚΟΡΔΑ, ΚΡΕΜΜΥΔΙΑ,...","MANABIKH, ΠΑΤΑΤΕΣ-ΚΡΕΜΜΥΔΙΑ-ΣΚΟΡΔΑ, ΠΑΤΑΤΕΣ, Π..."
16,"ΤΥΡΟΚΟΜΙΚΑ, ΧΥΜΑ-ΠΑΓΚΟΥ, ΗΜΙΣΚΛΗΡΑ ΤΥΡΙΑ, GOUDA","ΑΛΛΑΝΤΙΚΑ, ΧΥΜΑ-ΠΑΓΚΟΥ, ΚΑΠΝΙΣΤΑ, ΓΑΛΟΠΟΥΛΑ"
17,"ΑΛΛΑΝΤΙΚΑ, ΧΥΜΑ-ΠΑΓΚΟΥ, ΚΑΠΝΙΣΤΑ, ΓΑΛΟΠΟΥΛΑ","ΤΥΡΟΚΟΜΙΚΑ, ΧΥΜΑ-ΠΑΓΚΟΥ, ΗΜΙΣΚΛΗΡΑ ΤΥΡΙΑ, GOUDA"
18,"ΤΥΡΟΚΟΜΙΚΑ, ΧΥΜΑ-ΠΑΓΚΟΥ, ΗΜΙΣΚΛΗΡΑ ΤΥΡΙΑ, GOUDA","ΑΡΤΟΣΚΕΥΑΣΜΑΤΑ, ΨΩΜΙ ΣΥΣΚ/ΝΟ, ΤΟΣΤ, ΦΟΡΜΑ"
19,"ΑΡΤΟΣΚΕΥΑΣΜΑΤΑ, ΨΩΜΙ ΣΥΣΚ/ΝΟ, ΤΟΣΤ, ΦΟΡΜΑ","ΤΥΡΟΚΟΜΙΚΑ, ΧΥΜΑ-ΠΑΓΚΟΥ, ΗΜΙΣΚΛΗΡΑ ΤΥΡΙΑ, GOUDA"
20,"MANABIKH, ΛΑΧΑΝΙΚΑ, ΑΓΓΟΥΡΙΑ, ΑΓΓΟΥΡΙΑ ΧΥΜΑ","MANABIKH, ΛΑΧΑΝΙΚΑ, ΤΟΜΑΤΕΣ, ΤΟΜΑΤΕΣ ΕΓΧ."
21,"MANABIKH, ΛΑΧΑΝΙΚΑ, ΤΟΜΑΤΕΣ, ΤΟΜΑΤΕΣ ΕΓΧ.","MANABIKH, ΛΑΧΑΝΙΚΑ, ΑΓΓΟΥΡΙΑ, ΑΓΓΟΥΡΙΑ ΧΥΜΑ"
22,"MANABIKH, ΛΑΧΑΝΙΚΑ, ΑΓΓΟΥΡΙΑ, ΑΓΓΟΥΡΙΑ ΧΥΜΑ","MANABIKH, ΦΡΟΥΤΑ, ΜΠΑΝΑΝΕΣ, ΜΠΑΝΑΝΕΣ ΕΙΣΑΓ."
23,"MANABIKH, ΦΡΟΥΤΑ, ΜΠΑΝΑΝΕΣ, ΜΠΑΝΑΝΕΣ ΕΙΣΑΓ.","MANABIKH, ΛΑΧΑΝΙΚΑ, ΑΓΓΟΥΡΙΑ, ΑΓΓΟΥΡΙΑ ΧΥΜΑ"

In [30]:

# Function to process the columns
def process_columns(row):
    split_row = row.split(',', 2)  # Split at the second comma
    processed_row = split_row[2].strip() if len(split_row) > 2 else row  # Keep everything after the second comma
    return processed_row

# Apply the function to the specified columns
columns_to_process = ['product_names_antecedents', 'product_names_consequents']
for col in columns_to_process:
    filtered_df[col] = filtered_df[col].apply(process_columns)

print(filtered_df)

                    product_names_antecedents  \
0                      ΗΜΙΣΚΛΗΡΑ ΤΥΡΙΑ, GOUDA
1                              ΒΡΑΣΤΑ, ΠΑΡΙΖΑ
2                       ΤΟΜΑΤΕΣ, ΤΟΜΑΤΕΣ ΕΓΧ.
3                   ΜΠΑΝΑΝΕΣ, ΜΠΑΝΑΝΕΣ ΕΙΣΑΓ.
4                      ΗΜΙΣΚΛΗΡΑ ΤΥΡΙΑ, GOUDA
5                       ΤΟΜΑΤΕΣ, ΤΟΜΑΤΕΣ ΕΓΧ.
6                       ΤΟΜΑΤΕΣ, ΤΟΜΑΤΕΣ ΕΓΧ.
7                ΚΡΕΜΜΥΔΙΑ, ΚΡΕΜΜΥΔΙΑ ΕΓΧΩΡΙΑ
8                     ΑΓΓΟΥΡΙΑ, ΑΓΓΟΥΡΙΑ ΧΥΜΑ
9                ΚΡΕΜΜΥΔΙΑ, ΚΡΕΜΜΥΔΙΑ ΕΓΧΩΡΙΑ
10  ΖΥΜΑΡΙΚΑ ΜΑΚΡΙΑ, 301-700G ΖΥΜΑΡΙΚΑ ΜΑΚΡΙΑ
11  ΖΥΜΑΡΙΚΑ ΠΑΣΤΕΣ, 301-700G ΖΥΜΑΡΙΚΑ ΠΑΣΤΕΣ
12                  ΠΑΤΑΤΕΣ, ΠΑΤΑΤΕΣ ΕΓΧΩΡΙΕΣ
13                      ΤΟΜΑΤΕΣ, ΤΟΜΑΤΕΣ ΕΓΧ.
14                  ΠΑΤΑΤΕΣ, ΠΑΤΑΤΕΣ ΕΓΧΩΡΙΕΣ
15               ΚΡΕΜΜΥΔΙΑ, ΚΡΕΜΜΥΔΙΑ ΕΓΧΩΡΙΑ
16                     ΗΜΙΣΚΛΗΡΑ ΤΥΡΙΑ, GOUDA
17                        ΚΑΠΝΙΣΤΑ, ΓΑΛΟΠΟΥΛΑ
18                     ΗΜΙΣΚΛΗΡΑ ΤΥΡΙΑ, GOUDA
19                                ΤΟΣΤ, ΦΟΡΜΑ
20                    ΑΓΓΟΥΡΙΑ, ΑΓΓΟΥΡΙΑ ΧΥΜΑ
21                      ΤΟΜΑΤΕΣ, ΤΟΜΑΤΕΣ ΕΓΧ.
22                    ΑΓΓΟΥΡΙΑ, ΑΓΓΟΥΡΙΑ ΧΥΜΑ
23                  ΜΠΑΝΑΝΕΣ, ΜΠΑΝΑΝΕΣ ΕΙΣΑΓ.

                    product_names_consequents
0                              ΒΡΑΣΤΑ, ΠΑΡΙΖΑ
1                      ΗΜΙΣΚΛΗΡΑ ΤΥΡΙΑ, GOUDA
2                   ΜΠΑΝΑΝΕΣ, ΜΠΑΝΑΝΕΣ ΕΙΣΑΓ.
3                       ΤΟΜΑΤΕΣ, ΤΟΜΑΤΕΣ ΕΓΧ.
4                       ΤΟΜΑΤΕΣ, ΤΟΜΑΤΕΣ ΕΓΧ.
5                      ΗΜΙΣΚΛΗΡΑ ΤΥΡΙΑ, GOUDA
6                ΚΡΕΜΜΥΔΙΑ, ΚΡΕΜΜΥΔΙΑ ΕΓΧΩΡΙΑ
7                       ΤΟΜΑΤΕΣ, ΤΟΜΑΤΕΣ ΕΓΧ.
8                ΚΡΕΜΜΥΔΙΑ, ΚΡΕΜΜΥΔΙΑ ΕΓΧΩΡΙΑ
9                     ΑΓΓΟΥΡΙΑ, ΑΓΓΟΥΡΙΑ ΧΥΜΑ
10  ΖΥΜΑΡΙΚΑ ΠΑΣΤΕΣ, 301-700G ΖΥΜΑΡΙΚΑ ΠΑΣΤΕΣ
11  ΖΥΜΑΡΙΚΑ ΜΑΚΡΙΑ, 301-700G ΖΥΜΑΡΙΚΑ ΜΑΚΡΙΑ
12                      ΤΟΜΑΤΕΣ, ΤΟΜΑΤΕΣ ΕΓΧ.
13                  ΠΑΤΑΤΕΣ, ΠΑΤΑΤΕΣ ΕΓΧΩΡΙΕΣ
14               ΚΡΕΜΜΥΔΙΑ, ΚΡΕΜΜΥΔΙΑ ΕΓΧΩΡΙΑ
15                  ΠΑΤΑΤΕΣ, ΠΑΤΑΤΕΣ ΕΓΧΩΡΙΕΣ
16                        ΚΑΠΝΙΣΤΑ, ΓΑΛΟΠΟΥΛΑ
17                     ΗΜΙΣΚΛΗΡΑ ΤΥΡΙΑ, GOUDA
18                                ΤΟΣΤ, ΦΟΡΜΑ
19                     ΗΜΙΣΚΛΗΡΑ ΤΥΡΙΑ, GOUDA
20                      ΤΟΜΑΤΕΣ, ΤΟΜΑΤΕΣ ΕΓΧ.
21                    ΑΓΓΟΥΡΙΑ, ΑΓΓΟΥΡΙΑ ΧΥΜΑ
22                  ΜΠΑΝΑΝΕΣ, ΜΠΑΝΑΝΕΣ ΕΙΣΑΓ.
23                    ΑΓΓΟΥΡΙΑ, ΑΓΓΟΥΡΙΑ ΧΥΜΑ

In [31]:
filtered_df

,product_names_antecedents,product_names_consequents
0,"ΗΜΙΣΚΛΗΡΑ ΤΥΡΙΑ, GOUDA","ΒΡΑΣΤΑ, ΠΑΡΙΖΑ"
1,"ΒΡΑΣΤΑ, ΠΑΡΙΖΑ","ΗΜΙΣΚΛΗΡΑ ΤΥΡΙΑ, GOUDA"
2,"ΤΟΜΑΤΕΣ, ΤΟΜΑΤΕΣ ΕΓΧ.","ΜΠΑΝΑΝΕΣ, ΜΠΑΝΑΝΕΣ ΕΙΣΑΓ."
3,"ΜΠΑΝΑΝΕΣ, ΜΠΑΝΑΝΕΣ ΕΙΣΑΓ.","ΤΟΜΑΤΕΣ, ΤΟΜΑΤΕΣ ΕΓΧ."
4,"ΗΜΙΣΚΛΗΡΑ ΤΥΡΙΑ, GOUDA","ΤΟΜΑΤΕΣ, ΤΟΜΑΤΕΣ ΕΓΧ."
5,"ΤΟΜΑΤΕΣ, ΤΟΜΑΤΕΣ ΕΓΧ.","ΗΜΙΣΚΛΗΡΑ ΤΥΡΙΑ, GOUDA"
6,"ΤΟΜΑΤΕΣ, ΤΟΜΑΤΕΣ ΕΓΧ.","ΚΡΕΜΜΥΔΙΑ, ΚΡΕΜΜΥΔΙΑ ΕΓΧΩΡΙΑ"
7,"ΚΡΕΜΜΥΔΙΑ, ΚΡΕΜΜΥΔΙΑ ΕΓΧΩΡΙΑ","ΤΟΜΑΤΕΣ, ΤΟΜΑΤΕΣ ΕΓΧ."
8,"ΑΓΓΟΥΡΙΑ, ΑΓΓΟΥΡΙΑ ΧΥΜΑ","ΚΡΕΜΜΥΔΙΑ, ΚΡΕΜΜΥΔΙΑ ΕΓΧΩΡΙΑ"
9,"ΚΡΕΜΜΥΔΙΑ, ΚΡΕΜΜΥΔΙΑ ΕΓΧΩΡΙΑ","ΑΓΓΟΥΡΙΑ, ΑΓΓΟΥΡΙΑ ΧΥΜΑ"
10,"ΖΥΜΑΡΙΚΑ ΜΑΚΡΙΑ, 301-700G ΖΥΜΑΡΙΚΑ ΜΑΚΡΙΑ","ΖΥΜΑΡΙΚΑ ΠΑΣΤΕΣ, 301-700G ΖΥΜΑΡΙΚΑ ΠΑΣΤΕΣ"
11,"ΖΥΜΑΡΙΚΑ ΠΑΣΤΕΣ, 301-700G ΖΥΜΑΡΙΚΑ ΠΑΣΤΕΣ","ΖΥΜΑΡΙΚΑ ΜΑΚΡΙΑ, 301-700G ΖΥΜΑΡΙΚΑ ΜΑΚΡΙΑ"
12,"ΠΑΤΑΤΕΣ, ΠΑΤΑΤΕΣ ΕΓΧΩΡΙΕΣ","ΤΟΜΑΤΕΣ, ΤΟΜΑΤΕΣ ΕΓΧ."
13,"ΤΟΜΑΤΕΣ, ΤΟΜΑΤΕΣ ΕΓΧ.","ΠΑΤΑΤΕΣ, ΠΑΤΑΤΕΣ ΕΓΧΩΡΙΕΣ"
14,"ΠΑΤΑΤΕΣ, ΠΑΤΑΤΕΣ ΕΓΧΩΡΙΕΣ","ΚΡΕΜΜΥΔΙΑ, ΚΡΕΜΜΥΔΙΑ ΕΓΧΩΡΙΑ"
15,"ΚΡΕΜΜΥΔΙΑ, ΚΡΕΜΜΥΔΙΑ ΕΓΧΩΡΙΑ","ΠΑΤΑΤΕΣ, ΠΑΤΑΤΕΣ ΕΓΧΩΡΙΕΣ"
16,"ΗΜΙΣΚΛΗΡΑ ΤΥΡΙΑ, GOUDA","ΚΑΠΝΙΣΤΑ, ΓΑΛΟΠΟΥΛΑ"
17,"ΚΑΠΝΙΣΤΑ, ΓΑΛΟΠΟΥΛΑ","ΗΜΙΣΚΛΗΡΑ ΤΥΡΙΑ, GOUDA"
18,"ΗΜΙΣΚΛΗΡΑ ΤΥΡΙΑ, GOUDA","ΤΟΣΤ, ΦΟΡΜΑ"
19,"ΤΟΣΤ, ΦΟΡΜΑ","ΗΜΙΣΚΛΗΡΑ ΤΥΡΙΑ, GOUDA"
20,"ΑΓΓΟΥΡΙΑ, ΑΓΓΟΥΡΙΑ ΧΥΜΑ","ΤΟΜΑΤΕΣ, ΤΟΜΑΤΕΣ ΕΓΧ."
21,"ΤΟΜΑΤΕΣ, ΤΟΜΑΤΕΣ ΕΓΧ.","ΑΓΓΟΥΡΙΑ, ΑΓΓΟΥΡΙΑ ΧΥΜΑ"
22,"ΑΓΓΟΥΡΙΑ, ΑΓΓΟΥΡΙΑ ΧΥΜΑ","ΜΠΑΝΑΝΕΣ, ΜΠΑΝΑΝΕΣ ΕΙΣΑΓ."
23,"ΜΠΑΝΑΝΕΣ, ΜΠΑΝΑΝΕΣ ΕΙΣΑΓ.","ΑΓΓΟΥΡΙΑ, ΑΓΓΟΥΡΙΑ ΧΥΜΑ"